Repository newrelic/newrelic-java-agent, pull requests merged in 2021-12, with the labels that each got.

#578 cats effect 3: pass transaction info by implicits
  instrumentation/cats-effect-3/src/main/java/cats/effect/internals/Utils.java
  instrumentation/newrelic-cats-effect3-api/src/main/scala/com/newrelic/cats3/api/TraceOps_Instrumentation.scala
  instrumentation/newrelic-cats-effect3-api/src/main/scala/com/newrelic/cats3/api/Util.scala
  newrelic-cats-effect3-api/src/main/scala/com/newrelic/cats3/api/TraceOps.scala
  newrelic-cats-effect3-api/src/test/scala/com/newrelic/cats3/api/CatsEffectIOTest3.scala
Labels: scala, 7.5.0

#577 Updated Async-Http-Client library version to 2.0.35
  instrumentation/async-http-client-2.0.0/build.gradle
Labels: scala, 7.5.0

#593 update caffeine dep
  newrelic-agent/build.gradle
Labels: 7.5.0

#594 Add additional project for Play WS 2.6.0 to support 2.13
  instrumentation/play-ws-2.13_2.6.0/build.gradle
  instrumentation/play-ws-2.13_2.6.0/src/main/scala/com/nr/agent/instrumentation/playws/InboundWrapper.scala
  instrumentation/play-ws-2.13_2.6.0/src/main/scala/com/nr/agent/instrumentation/playws/JavaInboundWrapper.java
  instrumentation/play-ws-2.13_2.6.0/src/main/scala/com/nr/agent/instrumentation/playws/JavaOutboundWrapper.java
  instrumentation/play-ws-2.13_2.6.0/src/main/scala/com/nr/agent/instrumentation/playws/JavaPlayWSUtils.java
  instrumentation/play-ws-2.13_2.6.0/src/main/scala/com/nr/agent/instrumentation/playws/OutboundWrapper.scala
  instrumentation/play-ws-2.13_2.6.0/src/main/scala/com/nr/agent/instrumentation/playws/PlayWSUtils.scala
  instrumentation/play-ws-2.13_2.6.0/src/main/scala/play/api/libs/ws/StandaloneWSClient_Instrumentation.java
  instrumentation/play-ws-2.13_2.6.0/src/main/scala/play/api/libs/ws/StandaloneWSRequest_Instrumentation.java
  instrumentation/play-ws-2.13_2.6.0/src/main/scala/play/api/libs/ws/WSRequest_Instrumentation.java
  instrumentation/play-ws-2.13_2.6.0/src/main/scala/play/libs/ws/StandaloneWSClient_Instrumentation.java
  instrumentation/play-ws-2.13_2.6.0/src/main/scala/play/libs/ws/StandaloneWSRequest_Instrumentation.java
  instrumentation/play-ws-2.13_2.6.0/src/main/scala/play/libs/ws/WSRequest_Instrumentation.java
  instrumentation/play-ws-2.13_2.6.0/src/test/scala/com/nr/agent/instrumentation/playws/PlayAsyncHttpClientTests.java
  instrumentation/play-ws-2.13_2.6.0/src/test/scala/com/nr/agent/instrumentation/playws/ResponseRunnable.java
  instrumentation/play-ws-2.13_2.6.0/src/test/scala/com/nr/agent/instrumentation/playws/WSClient.scala
  settings.gradle
Labels: scala
